{% extends "base.html" %}


{% block main %}
    <div class="profilepage">
        <div class="profileHeader">
            <img src="{{ url_for('static', filename='subaru.jpg') }}" alt="Subaru">
            <h3>Natsuki Subaru</h3>
            <p> @nSubaru <br> Lugnica, Kingdom of Lugnica</p>
            <p class="datejoined">{{datedisplayed}}</p>
        </div>
        <div class="profileBody">
            <p>I am Knight who lead help lead the Kingdom of Luginca to glory. Contact me if you want to join us.</p>
            <div class="numbers">
                <div class="posts">3 <p>Posts</p></div>
                <div class="following">10 <p>Following</p></div>
                <div class="followers">1000 <p>Followers</p></div>

            </div>
            <button>Follow</button>
        </div>

    </div>
{% endblock %}    
